/* Pets Page */

.global-nav-pet{background-color: aquamarine;}
.main-pet{background-color: yellow;}

/* UWM Page */

.uwm-nav{background-color: aquamarine;}
.uwm-main{background-color: yellow;}
.uwm-section{background-color: rgb(199, 199, 199);}